.home {
  background-color: @bodycolor;

  .top-section {
    border-bottom: 2px solid white;
      
    h1 {
      .flex(flex, center, center);
      color: white;
      font-family: 'Raleway';
      font-size: 2rem;
      line-height: 4;

        span {
          color: @boldcolor;
        } 
      }
        p {
          color: white;
          font-family: 'Raleway';
          font-size: 1.2rem;
    }
  }

  .main {
    .top-row {
      .flex(flex, space-between, center);
      flex-direction: row;
      font-size: 2rem;
      font-weight: 700;
      margin-bottom: 5%;
        @media @mobile {
          flex-direction: column;
        }
  
        img {
          width: 25%;
          }
        
        
          .top-text {
            width: 45%;
              p {

            color: white;
            font-family: 'Raleway';
          
              .remove {
                font-weight: bold;
              }
  
              .add {
                color: @boldcolor;
                font-weight: bold;
              }
  
              .organize {
                color: @btncolor;
                font-weight: bold;
              }
            }
          }
    }
          
    
  
    .middle-row {
      .flex(flex, space-evenly, center);
      flex-direction: row-reverse;
      flex-wrap: wrap;
      font-size: 2rem;
      font-weight: 700;
      margin-bottom: 5%;
        @media @mobile {
          flex-direction: column;
        }
        div {
          width: 30%;
          img {
         width: 100%;
          }
        }
        
        
  
          .middle-text {
            width: 45%;
            p {
            color: white;
            font-family: 'Raleway';
            @media @mobile {
              flex-direction: column;
            }
            .read {
              font-weight: bold;
            }
            .pin {
              color: @boldcolor;
              font-weight: bold;
            }
            .organize {
              color: @btncolor;
              font-weight: bold;
            }
          } 
        }
    }
    
  
    .bottom-row {
      .flex(flex, space-between, center);
      flex-direction: row;
      height: 10%;
      font-size: 2rem;
      font-weight: 700;
      margin-bottom: 5%;
        @media @mobile {
          flex-direction: column;
    }
      img {
        width: 25%;
        }
      
  
      .bottom-text {
        width: 40%;
        p {
            margin: 0 auto;
            align-self: center;
            color: white;
            font-family: 'Raleway';
            @media @mobile {
              flex-direction: column;
            }
            .ready {
              color: @btncolor;
              font-weight: bold;
            }
            .go {
              font-weight: bolder;
            }
            .you {
              color: @boldcolor;
              font-weight: bold;
            }
          } 
        }
    } 
  
  }
  
  button {
      border-radius: 4px;
      text-align: center;
      padding: 10px;
      background-color: @btncolor;
      color: white;
      font-size: 1.5rem;
      width: 30%;
      margin-left: 30%;
    }

  }//Home