.flex(@display, @justify, @align) {
  display: @display;
  justify-content: @justify;
  align-items: @align;
}

.button(@border-radius, @bg-color, @padding) {
  border-radius: @border-radius;
  background-color: @backgroundcolor;
  padding: @padding;
}